@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--principal: #f30f6d;
	--secundaria: #34302f;
	--detalhes: #f2f2f2;
	--fontTitulo: 'Dancing Script', cursive;;
	--fontTexto: 'Montserrat', sans-serif;
}

li{
	list-style: none;
}

a:link, a:active, a:hover, a:visited{
	text-decoration: none;
}

*{
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-color: var(--secundaria);
}


/* * F O N T E S */

main h1{
	font-family: var(--fontTitulo);
	color: var(--principal);
	text-align: center;
	font-size: 2.5em;
	margin: 1em 0;
}

.innerItem h2{
	font-family: var(--fontTitulo);
	color: var(--principal);
	font-size: 2em;
}

.innerItem p{
	font-family: var(--fontTexto);
	color: var(--detalhes);
	font-size: .9em;
}

.innerPedido{
	font-family: var(--fontTexto);
	color: var(--detalhes);
	font-size: .9em;
}

/* * I M A G E N S */

/* ! MOBILE */
@media(min-width: 320px){
	.container{
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	header, main, footer{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	section{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	header section{
		background-color: var(--detalhes);
		box-shadow: 1px 1px 10px #2b2b2b;
		padding: 1em 0;
	}

	.innerHeader{
		width: 90%;
		max-width: 1080px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.innerPedido{
		width: 90%;
		max-width: 1080px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 4em 0;
	}

	.innerPedido input{
		width: 100%;
		max-width: 300px;
		height: 20px;
		padding: 5px;
		border-radius: 10px;
		outline: none;
		border: none;
		background-color: #f2f2f2a8;
		margin: 1em 0;
	}

	#formaDePagamento{
		width: 100%;
		height: 30px;
		max-width: 310px;
		border-radius: 10px;
		outline: none;
		border: none;
		background-color: #f2f2f2a8;
	}

	.innerPedido button{
		background-color: var(--principal);
		border: none;
		border-radius: 10px;
		color: var(--detalhes);
		padding: 1em ;
		margin-top: 1em ;
	}

	footer section{
		background-color: var(--principal);
		box-shadow: 1px 1px 10px #2b2b2b;
		padding: 1em 0;
		font-family: var(--fontTexto);
	}

	.innerFooter{
		text-align: center;
		color: var(--detalhes);
	}

	.itemCardapio{
		width: 310px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0;
		border-bottom: 1px solid var(--principal);
	}

	.itemCardapio input{
		width: 35px;
		height: 35px;
		border-radius: 10px;
		outline: none;
		border: none;
	}

}

/* ! TABELA */


.popUpFunction{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #34302f8f;
	position: fixed;
		top: 0;
		left: 0;
}

#myLinks{
	display: none;
}

.popUp{
	width: 90%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--detalhes);
	position: fixed;
		top: 5%;
		left: 5%;
}

.popUpArea{
	width: 90%;
	max-width: 1080px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* ! DESKTOP */
@media(min-width: 720px){

}